body {
  text-align: center;
  background-color: #3D3D3D;
}

h1 {
  color: white;
  font-family: calibri;
  font-size: 50px;
}

p {
  color: white;
  font-family: verdana;
  font-size: 20px;
}

img {
  margin: 25px;
}

#segundop{
  font-weight: bold;
  background-color: #ed5c5c
}

figure{
  background-color: white;
  border: 1px solid black;
  width: 300px;
}

#legendacao{
  color: black;
  font-size: 15px;
  font-weight: bold;
}