body {
  text-align: center;
  font-family: Poppins;
  background-color: #3D3D3D;
}

.bemvindo {
  color: white;
  font-size: 50px;
}

.texto-principal{
  color: white;
  font-size: 20px;
}

.grid-container{
  display: grid;
}

.grid-item{
  margin-top: 50px;
}

.link{
  text-decoration: none;
  color: white;
  padding: 15px;
  font-size: 20px;
  background-color: #007ACC;
  border-radius: 15px;
  font-weight: 900;
}

.link:hover{
  background-color: #005ACC;
}