.wrapper{
    height: 175%;
}

/*-------------------------------------------------*/


.texto{
    margin-top: 5%;
    text-align: center;
}

.texto h3{
    font-size: 25px;
}

.texto p{
    font-size: 20px;
}

.contacto{
    margin-top: 100px;
    font-size: 15px;
}

.msg{
    width: 75%;
}